---
title: "240513 결과 정리"
author: "김보람"
date: "05/13/2024"
---

In [1]:
import pandas as pd
import os

## 24513

In [3]:
folder_path = './results2'

In [4]:
all_data = []

In [5]:
for file_name in os.listdir(folder_path):

    if file_name.endswith('.csv'):

        df = pd.read_csv(os.path.join(folder_path, file_name))

        all_data.append(df)

In [6]:
merged_df = pd.concat(all_data, ignore_index=True)

In [8]:
merged_df

,model,time,acc,pre,rec,f1,auc,graph_based,method,throw_rate,train_size,train_cols,train_frate,test_size,test_frate,hyper_params
0,ABOD,17.510304,0.994275,0.000000,0.000000,0.000000,0.500000,False,pyod,0.008171,420500,['amt'],0.010000,314572,0.005725,NaN
1,COPOD,0.084473,0.990832,0.304442,0.468073,0.368928,0.730958,False,pyod,0.008171,420500,['amt'],0.010000,314572,0.005725,NaN
2,ECOD,0.083442,0.988054,0.165241,0.268184,0.204488,0.630192,False,pyod,0.008171,420500,['amt'],0.010000,314572,0.005725,NaN
3,GMM,0.141062,0.991659,0.334139,0.460300,0.387202,0.727509,False,pyod,0.008171,420500,['amt'],0.010000,314572,0.005725,NaN
4,HBOS,0.012526,0.993938,0.000000,0.000000,0.000000,0.499831,False,pyod,0.008171,420500,['amt'],0.010000,314572,0.005725,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2139,NeuralNetFastAI,NaN,0.972080,0.139732,0.751805,0.235663,0.898952,False,Autogluon,0.018278,14017,['amt'],0.299993,314572,0.005725,NaN
2140,XGBoost,NaN,0.961230,0.106459,0.780677,0.187367,0.962270,False,Autogluon,0.018278,14017,['amt'],0.299993,314572,0.005725,NaN
2141,NeuralNetTorch,NaN,0.976031,0.159245,0.744586,0.262375,0.953301,False,Autogluon,0.018278,14017,['amt'],0.299993,314572,0.005725,NaN
2142,LightGBMLarge,NaN,0.973211,0.144070,0.744586,0.241426,0.959773,False,Autogluon,0.018278,14017,['amt'],0.299993,314572,0.005725,NaN
2143,WeightedEnsemble_L2,NaN,0.973211,0.144070,0.744586,0.241426,0.959773,False,Autogluon,0.018278,14017,['amt'],0.299993,314572,0.005725,NaN

In [10]:
merged_df.drop_duplicates()

,model,time,acc,pre,rec,f1,auc,graph_based,method,throw_rate,train_size,train_cols,train_frate,test_size,test_frate,hyper_params
0,ABOD,17.510304,0.994275,0.000000,0.000000,0.000000,0.500000,False,pyod,0.008171,420500,['amt'],0.01,314572,0.005725,NaN
1,COPOD,0.084473,0.990832,0.304442,0.468073,0.368928,0.730958,False,pyod,0.008171,420500,['amt'],0.01,314572,0.005725,NaN
2,ECOD,0.083442,0.988054,0.165241,0.268184,0.204488,0.630192,False,pyod,0.008171,420500,['amt'],0.01,314572,0.005725,NaN
3,GMM,0.141062,0.991659,0.334139,0.460300,0.387202,0.727509,False,pyod,0.008171,420500,['amt'],0.01,314572,0.005725,NaN
4,HBOS,0.012526,0.993938,0.000000,0.000000,0.000000,0.499831,False,pyod,0.008171,420500,['amt'],0.01,314572,0.005725,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2111,LOF,0.078528,0.874442,0.006829,0.144919,0.013044,0.511781,False,pyod,0.016841,42050,['amt'],0.10,314572,0.005725,NaN
2112,MAD,0.002493,0.975665,0.156133,0.737923,0.257733,0.857479,False,pyod,0.016841,42050,['amt'],0.10,314572,0.005725,NaN
2113,MCD,0.011081,0.971313,0.136633,0.754026,0.231346,0.863295,False,pyod,0.016841,42050,['amt'],0.10,314572,0.005725,NaN
2114,PCA,0.003764,0.937483,0.041194,0.445308,0.075411,0.692813,False,pyod,0.016841,42050,['amt'],0.10,314572,0.005725,NaN
2115,ROD,3.873942,0.881445,0.000169,0.003331,0.000322,0.444917,False,pyod,0.016841,42050,['amt'],0.10,314572,0.005725,NaN

In [11]:
merged_df.to_csv('./results2/240513_meged.csv', index=False)